{{setPageTitle "Wedding"}}
{{setActiveNav "wedding"}}
{{setYUIModule "le-wedding"}}
{{setDescription "The details of Serina Tabara’s & Dan Scholl’s wedding."}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/wedding.css"}}

<div id="map" data-map="dscholl.kbolkbo3"></div>

<div class="l-wrap">
    <h1 class="ann">
        <span class="ann-secondary">Wedding</span>
        <span class="ann-primary">July 11, 2015</span>
        <span class="ann-secondary">Sunol, CA</span>
    </h1>

    <div class="l-contain">
        <ul class="travel-nav l-grid">
            <li class="travel-nav-item l-grid-u">
                <a class="button" href="/logistics/">Get There</a>
            </li>
            <li class="travel-nav-item l-grid-u">
                <a class="button" href="/logistics/hotels/">Stay There</a>
            </li>
        </ul>
    </div>

    <div class="details l-contain">

        <h2 id="ceremony" class="anchored-header">
            Ceremony &amp; Reception
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    The wedding ceremony will begin, <em>promptly</em>, on <b>Saturday at 5:00pm</b>. The ceremony and reception will be held at Elliston Vineyards:
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <a href="http://maps.apple.com/?q=8290+Ingleton+Circle+Easton,+MD+21601">
                        <b>Elliston Vineyards</b><br>
                            463 Kilkare Road<br>
                            Sunol, California 94586
                    </a>
                </address>
            </div>
        </div>

    </div>
</div>
